*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text_color: white;
    --bg_url:url(./assets/bg-mobile.jpg);
    --stroke_color: rgba(255, 255, 255, 0.5);
    --surface_color: rgba(255, 255, 255, 0.05);
    --surface_color_hover: rgba(255, 255, 255, 0.05);
    --highlight_color: rgba(255, 255, 255, 0.2);
    --switch_bg_url: url(./assets/moon-stars.svg); 
}

.light {
    --text_color: black;
    --bg_url: url(./assets/bg-mobile-light.jpg);
    --stroke_color: rgba(0, 0, 0, 0.5);
    --surface_color: rgba(0, 0, 0, 0.05);
    --surface_color_hover: rgba(0, 0, 0, 0.2);
    --highlight_color: rgba(0, 0, 0, 0.1);
    --switch_bg_url: url(./assets/sun.svg); 
}

body{
    background: var(--bg_url) no-repeat top center/cover;
    height: 100vh;
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text_color);
}

#container{
    margin: 56px auto 0px;
    width: 100%;
    max-width: 580px;
    padding: 0 24px;
}

#profile{
    padding: 24px;
    text-align: center;
}

#profile img{
    width: 112px;
}

#profile p{
    margin-top: 8px;
    font-weight: 500;
    line-height: 24px; 
}

/* switch */

#switch{
    position: relative;
    margin: 4px auto;
    width: 64px;
}

#switch button{
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch_bg_url) no-repeat center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    animation: slide-out 0.4s;
    transform: translateY(-50%);
}

.light #switch button{
    animation: slide-in 0.4s forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight_color);
}

#switch span{
    display: block;
    width:  64px;
    height:  24px;
    background: var(--surface_color);
    border: 1px solid var(--stroke_color);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* links*/
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 16px 24px;

    background: var(--surface_color);
    border: 1px solid var(--stroke_color);
    
    border-radius: 8px;
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
}

/*sudo-selector*/
ul li a:hover{
    background: var(--surface_color_hover);
    border: 1.5px solid var(--text_color);
}

/* icones */

#social_links{
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    font-size: 24px;
}

#social_links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

#social_links a:hover{
    background: var(--highlight_color);
    transition: backgroud 0.2;
}

footer{
    text-align: center;
    padding: 24px 0px;
    font-size: 14px;
}

/* Seletor de diferentes telas */
/* Media Query */
@media (min-width: 700px){
    :root{
        --bg-url: url(./assets/bg-desktop.jpg)
    }
    .light{
        
        --bg-url: url(./assets/bg-desktop-light.jpg)
    }
}

@keyframes slide-in{
    from{
        left: 0%;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-out{
    from{
        left: 50%;
    }
    to{
        left: 0%;
    }
}